html, body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
